<%- include('./partials/header'); -%>

<form action="/post" method="POST" enctype="multipart/form-data">
  <h2>Add a cocktail</h2>
  <label for="name">Name</label>
  <label for="cocktailName">Cocktail Name</label>
  <input type="text" name="cocktailName" id="cocktailName" />
  <label for="alcohol">Alcohol</label>
  <input type="text" name="alcohol" id="alcohol" />
  <label for="ingredient">List ingredient</label>
  <input type="text" name="ingredient" id="ingredient" />
  <label for="image">Image</label>
  <input type="file" name="image" id="image" />
  <button type="submit">Add Cocktail</button>
</form>
<a href="see-cocktails">SEE Cocktails</a>

<script></script>

<%- include('./partials/footer'); -%>
