<%- include('./partials/header'); -%>

<p>
  You need to remove any spaces and seprate any ingredients with a semicolon.
</p>

<br />
<br />

<a class="btn" href="/add-cocktails">Back to add-cocktail.</a>

<%- include('./partials/footer'); -%>
