<%- include('./partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/cocktail-bar.png" alt="cocktails" />
  </div>
  <div class="headings">
    <h2>See All cocktails</h2>
    <a href="/see-cocktails" class="btn">View Cocktails</a>
  </div>
</header>

<%- include('./partials/footer'); -%>
