<%- include('./partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="cocktails" />
  </div>
  <div class="headings">
    <h2>See All cocktails</h2>
    <a href="/cocktails" class="btn">View Cocktails</a>
  </div>
</header>

<%- include('./partials/footer'); -%>
